.page-loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}
.page-loader__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-loader__loading-icon {
  margin-top: 20px;
  animation-name: spin;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
